body {
  font-family: "Helvetica", "Arial", "LiHei Pro", "黑體-繁", "微軟正黑體",
    sans-serif;
}
.container {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 3%;
  width: 590px;
  height: 840px;
  background-color: #e7eeea;
  margin-left: 5px;
  margin-right: 5px;
}

.item img {
  display: block;
  margin: 0 auto;
}

.item h1 {
  font-size: 33px;
  color: #37523d;
  font-weight: 900;
  padding-left: 40px;
  padding-bottom: 40px;
}

.item p {
  font-size: 24px;
  line-height: 30px;
  color: #2d2d2d;
  font-weight: 600;
  padding-left: 40px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.item h3 {
  font-size: 26px;
  line-height: 30px;
  color: #37523d;
  font-weight: 900;
  padding-left: 40px;
}
