body {
  font-family: "Helvetica", "Arial", "LiHei Pro", "黑體-繁", "微軟正黑體",
    sans-serif;
}
.container {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
}

.left-side {
  width: 400px;
  height: 760px;
  background-color: #e7eeea;
  padding-top: 40px;
}

.left-side img {
  display: block;
  margin: 0 auto;
}

.left-side li {
  font-size: 24px;
  color: #37523d;
  font-weight: 600;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.left-side li a {
  text-decoration: none;
  color: #37523d;
}

.main {
  width: 800px;
  padding-top: 60px;
  padding-left: 100px;
  padding-right: 100px;
}

.main .content h3 {
  font-size: 24px;
  color: #37523d;
  font-weight: 600;
  margin-bottom: 30px;
}

.main .content p {
  font-size: 21px;
  line-height: 24px;
  color: #2d2d2d;
  font-weight: 500;
  margin-bottom: 30px;
}
.product ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.product ul li {
  margin-right: 7px;
  margin-bottom: 7px;
}
